.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #f3f3f3;
  padding: 15px;
  width: auto;
  max-width: 200px;
  border-radius: 20px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

  &:hover {
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.06);
    transform: translateY(-5px);
  }

  .favorite {
    width: 36px;
    height: 36px;
    position: absolute;
    cursor: pointer;
  }

  span {
    font-size: 13px;
    opacity: 0.5;
    text-transform: uppercase;
  }

  b {
    font-size: 14px;
  }

  h5 {
    flex: 1;
    font-weight: 400;
    font-size: 14px;
  }

  .plus {
    cursor: pointer;
  }
}

.modal {
  position: relative;
  display: flex;
  justify-content: space-around;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;

  .favorite {
    width: 36px;
    height: 36px;
    position: absolute;
    cursor: pointer;
  }

  .close {
    cursor: pointer;
    position: absolute;
    top: -4px;
    right: 8px;
    font-size: 28px;
    font-weight: bold;
  }

  .description {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  span {
    font-size: 15px;
    color: #aaa;
    text-transform: uppercase;

    b {
      font-size: 16px;
      color: #222;
      text-transform: none;
    }
  }
}
