body {
  margin: 0;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
  overflow: hidden auto;
}

* {
  font-family: system-ui;
}

.wrapper {
  background: #fff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

header {
  border-bottom: 1px solid #eaeaea;
  overflow: hidden;
  flex-wrap: wrap;

  img {
    margin-right: 15px;
  }

  h3,
  p {
    margin: 0;
  }
}

.content {
  h1,
  h2 {
    margin: 0;
  }

  .content-items {
    gap: 10px;
    justify-content: space-evenly;
  }
}

.search-block {
  display: flex;
  align-items: center;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 13px;
  overflow: hidden;

  .clear {
    width: 18px;
    height: 18px;
    margin-left: -18px;
  }

  input {
    border: 0;
    padding: 10px;
    margin-right: 18px;
    font-size: 16px;
    width: 200px;
  }
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.drawer {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 420px;
  height: 100%;
  right: 0;
  padding: 30px;
  background: #fff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);

  .order-cart {
    overflow: auto;
    /* margin-bottom: 20px; */
    /* height: 100%; */
    /* flex: 1 1; */
    display: flex;
    flex-direction: column;
  }

  .items {
    overflow: auto;
    margin-bottom: 40px;
  }

  h2 {
    margin: 0;
  }
}

.cartEmpty {
  text-align: center;

  p {
    width: 280px;
    line-height: 24px;
  }

  .greenButton {
    width: 245px;
    margin-top: 20px;

    &:hover {
      img {
        transform: rotate(180deg) translateX(3px);
      }
    }

    img {
      position: relative;
      top: 1px;
      transform: rotate(180deg);
      margin-right: 50px;
      transition: transform 0.15s ease-in-out;
    }
  }
}

.cartTotalBlock {
  ul {
    display: block;
    margin-bottom: 40px !important;

    li {
      display: flex;
      margin-bottom: 20px;
      align-items: flex-end;

      div {
        height: 1px;
        flex: 1;
        border-bottom: 1px dashed #dfdfdf;
        position: relative;
        top: -4px;
        margin: 0 7px;
      }
    }
  }

  .greenButton {
    position: relative;

    &:hover {
      img {
        transform: translateX(5px);
      }
    }

    img {
      position: absolute;
      right: 30px;
      top: 22px;
      transition: transform 0.2s ease-in-out;
    }
  }
}

.greenButton {
  cursor: pointer;
  width: 100%;
  height: 55px;
  background: #9dd558;
  border-radius: 20px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  transition: background 0.3s ease-in-out;

  &:hover {
    background: lighten($color: #9dd558, $amount: 7%);
  }

  &:active {
    background: darken($color: #9dd558, $amount: 7);
  }
}

.cartItem {
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  padding: 10px;

  .cartItemImg {
    height: 70px;
    width: 70px;
    background-size: contain;
    background-position: 0 0;
    background-repeat: no-repeat;
    margin-right: 20px;
  }

  p {
    font-size: 16px;
  }

  b {
    font-size: 14px;
  }

  .removeBtn {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.25s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}
